
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    background-color: rgb(229, 189, 254);
    color: #ffffff;
    height:auto;
    min-height:100vh;
    font-family: 'Roboto';
    text-align: center;
}
body {
  background: linear-gradient(to right, #8600bf, rgb(229, 189, 254)); /* Van links naar rechts, blauw naar lichtblauw */
  /* Of een andere richting/hoek: */
  /* background: linear-gradient(45deg, #4e54c8, #8f94fb); */
  width: 100vw; /* Volledige viewport breedte */
  height: 100vh; /* Volledige viewport hoogte */
  margin: 0; /* Verwijder standaard body margin */
  background-size: cover; /* Zorgt dat het goed schaalt */
}

header{
    font-family: 'Montserrat';
    text-align: center;
    font-size: 2em;
}

pre{
    overflow: hidden;
    font-size: .75em;
}

a{
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;
}
a:hover {
    background-color: #161717;
    color: #ffffff;
}

/* Container styling */
.container {
    font-family: 'Roboto';
    max-width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 2em;
    text-align: center;
}


h1 {
    font-family: 'Montserrat';
    text-transform: uppercase;
}
h2 {
    font-family: 'Montserrat';
}
h3 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: bold;
}
.image-row {
    display: flex;
    gap: 10px;            
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-row img {
    width: 200px;        
    height: auto;
    border-radius: 6px;   
}
.week-buttons {
    display: grid;
    grid-template-columns: repeat(5, auto); 
    gap: 12px;                               
    justify-content: center;                 
    margin-top: 20px;
}

.week-btn {
    display: inline-block;
    padding: 20px 30px;
    background-color: #8600bf4a;
    border-radius: 6px;
    text-decoration: none;
    color: #fffefe;
    font-weight: 500;
    transition: 0.2s;
    border: 0px
}

.week-btn:hover {
    background-color: #b870e2;
    transform: translateY(-2px);
}

.home-button {
    display: center;
    gap: 12px;                               
    justify-content: center;                 
    margin-top: 40px;
}



.home-btn:hover {
    background-color: #eed4fe;
    transform: translateY(-2px);
}